/* CUSTOM */
.inline-cell-editor {
  position: relative;
}
.inline-cell-editor input {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 8%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
  box-shadow: none;
}
.inline-cell-editor input:focus {
    outline: none;
}

.realtime-spreadsheet table {
  width: 100%;
  /* hide default highlight */
}

.realtime-spreadsheet .table-x-scroller {
  padding-left: 1px;
  padding-right: 1px;
}

.realtime-spreadsheet table td {
  position: relative;
  background-clip: padding-box;
}
.realtime-spreadsheet table .cell-highlight {
  box-shadow: 0px 1px 0px 1px #3FC51B;
  position: relative;
  z-index: 1;
}
.realtime-spreadsheet table .cell-highlight .cell-highlight-title {
  background-color: #3FC51B;
  /* TODO: remove this just for testing css; */
  color: #FFFFFF;
  font-size: 12px;
  left: 0;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: -12px;
  width: 90%;
  white-space: nowrap;
  z-index: 1;
}
.realtime-spreadsheet table .cell-highlight.current-user {
  box-shadow: 0px 1px 0px 1px #009AE5;
}
.realtime-spreadsheet table .table-highlight-overlay {
  display: none;
}
.realtime-spreadsheet table th {
  white-space: nowrap;
}
.portlet-dynamic-data-lists-display .lfr-spreadsheet-add-rows-buttons .form-group {
  margin-bottom: 0;
}

.collaboration-users {
  text-align: right;
}

.collaboration-users ul li {
  display: inline-block;
  margin-left: 10px;
}

.collaboration-users ul li a {
  display: block;
  position: relative;
  width: 30px;
}

.collaboration-users ul li a img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  width: 30px;
}

.collaboration-users a.current-user img {
  border-color: #009AE5;
}

.collaboration-users a.current-user .user-info {
  background-color: #009AE5;
}

.collaboration-users a .user-info {
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  left: 0;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  transition: 0.8s all;
  top: -25px;
  white-space: nowrap;
  width: 100px;
  z-index: 1;
}

.collaboration-users a:hover .user-info {
  opacity: 0.8;
}

.lfr-spreadsheet-container .remove-last-row-btn {
  margin-top: 20px;
}