/* CUSTOM */
.inline-cell-editor {
  position: relative;
}
.inline-cell-editor input {
  border: none !important;
  box-shadow: none !important;
  display: block !important;
  left: 0;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 8% !important;
  position: absolute;
  top: 0;
  width: 84%;
  z-index: 1;
}

.realtime-spreadsheet table {
  width: 100%;
  /* hide default highlight */
}
.realtime-spreadsheet table td {
  background-clip: padding-box;
}
.realtime-spreadsheet table .cell-highlight {
  border: 1px;
  border-style: solid;
  border-color: #3FC51B;
  /* TODO: remove this just for testing css */
  position: relative;
}
.realtime-spreadsheet table .cell-highlight .cell-highlight-title {
  background-color: #3FC51B;
  /* TODO: remove this just for testing css; */
  color: #FFFFFF;
  font-size: 12px;
  left: 0;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: -12px;
  width: 90%;
  white-space: nowrap;
  z-index: 1;
}
.realtime-spreadsheet table .cell-highlight.current-user {
  border-color: #009AE5;
}
.realtime-spreadsheet table .table-highlight-overlay {
  display: none;
}

.collaboration-users {
  text-align: right;
}

.collaboration-users ul li {
  display: inline-block;
  margin-left: 10px;
}

.collaboration-users ul li a {
  display: block;
  position: relative;
  width: 30px;
}

.collaboration-users ul li a img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}

.collaboration-users a.current-user img {
  border-color: #009AE5;
}

.collaboration-users a.current-user .user-info {
  background-color: #009AE5;
}

.collaboration-users a .user-info {
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  left: 0;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  transition: 0.8s all;
  top: -25px;
  white-space: nowrap;
  width: 100px;
  z-index: 1;
}

.collaboration-users a:hover .user-info {
  opacity: 0.8;
}
